*{
	margin: 0;
	padding: 0;
	font-family: "Harlow Solid Italic", cursive;
	text-decoration: none;
}

.home{
	background: linear-gradient(68.6deg, rgb(252, 165, 241) 1.8%, rgb(181, 255, 255) 100.5%);
	height: auto;
}

/*menu options & logo & footer*/
nav {
    display: flex;
    align-items: center;
	justify-content: space-between;
	padding: 10px 20px 15px;
	background: #fa0ab0;
}

.logo-container {
    display: flex;
    align-items: center;
	justify-content: left;
}

nav img {
    max-width: 70px;
    margin-right: 10px;
}

nav .logo {
    color: #ffffff;
    font-size: 40px;
    line-height: 80px;
    font-weight: bold;
}

nav .logo a{
	color: #ffffff;
	text-decoration: none;
	border: none;
}

nav ul{
  justify-content: right;
  margin-right: 20px;
}

nav ul li{
  display: inline-block;
  line-height: 80px;
  margin: 0 5px;
}

nav ul li a{
  color: white;
  font-size: 17px;
  margin-left: 15px;
  text-transform: uppercase;
  transition: 0.5s;
}

nav ul a.active,a:hover{
  color: #b3f9fe;
  border-bottom: 1px solid #b3f9fe;
}

.checkbtn{
  font-size: 30px;
  color: #b3f9fe;
  line-height: 80px;
  margin-right: 40px;
  cursor: pointer;
  display: none;
}

#check{
  display: none;
}

@media (max-width: 952px){
  nav .logo{
	  font-size: 40px;
  }
  nav ul li{
	  margin: 25px 0;
  }
  nav ul li a{
	  font-size: 16px;
	  margin: 20x 0;
  }
}
@media (max-width: 858px){
  nav {
	padding: 5px 15px 8px;
  }
  .checkbtn{
	  display: block;
	  position: relative;
	  z-index: 9999;
  }
  nav img{
	max-width: 50px;
  }
  nav .logo {
    font-size: 30px;
  }
  nav ul{
	  position: fixed;
	  width: 100%;
	  height: 100vh;
	  background: #1e5954;
	  top: 80px;
	  left: -100%;
	  text-align: center;
	  transition: all .5s;
	  overflow-y: auto;
	  z-index: 9999;
  }
  nav ul li{
	  display: block;
	  line-height: 30px;
  }
  a:hover,a.active{
	  background: none;
  }
  #check:checked ~ ul{
	  left: 0;
  }
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent black overlay */
  display: none; /* Initially hidden */
  z-index: 9998; /* Below the navigation bar */
}

.footer{
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 20px;
	background-color: #fa0ab0;
}

.footer p{
	color: #ffffff;
	font-family: "Times New Roman";
}

@media (max-width: 520px){
	.footer{
		padding: 15px;
	}

	.footer p{
		font-size: 12px;
	}
}
/*end*/

/*home*/
.home .contents{
	display: flex;
	padding: 20px;
	margin: 30px 70px;
	background: #f2ebf1;
	border-radius: 15px;
	justify-content: space-between;
	align-items: center;
	transition: transform 0.4s ease, box-shadow 0.4s ease;
}

.home .contents:hover{
	transform: scale(1.02);
	box-shadow: 0px 0px 10px 0px #e3546c;
}

.home .contents .left_content{
	max-width: 20%;
}

.home .contents .left_content img{
	max-width: 100%;
}

.home .contents .mid_content{
	width: 45%;
	text-align: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.home .contents .mid_content h1{
	font-family: Broadway;
	margin-bottom: 30px;
}

.home .contents .mid_content p{
	font-family: "Rockwell Condensed";
	font-size: 20px;
}

.home .contents .mid_content p span{
	font: bold;
	font-family: Broadway;
}

.home .contents .mid_content .about_us_para{
	margin-top: 20px;
}

.home .contents .mid_content .button{
	margin: 50px 0 30px 0;
}

.home .contents .mid_content .button a {
  padding: 15px;
  color: #000000;
  background: #f3c2f4;
  border-radius: 15px;
  border: 2px solid #000000;
  transition: 0.5s;
}

.home .contents .mid_content .button a:hover {
  color: #000000;
  background: #b3f9fe;
}

.home .contents .right_content{
	max-width: 20%;
}

.home .contents .right_content img{
	width: 100%;
}

.home .contents .content{
	text-align: center;
	margin: 0 auto;
}

.home .contents .content ul li{
	list-style: none;
	font-family: "Times New Roman";
	padding: 5px;
	margin-bottom: 15px;
}

.home .contents .content ul li a {
    color: #000;
    font-family: "Times New Roman";
    font-weight: 900;
    padding: 5px;
    position: relative;
	transition: 0.4s;
}

.home .contents .content ul li a:hover {
	color: #fa0ab0;
}

.home .contents .content ul li a::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 2px;
    background-color: #fa0ab0;
    transition: width 0.4s ease;
}

.home .contents .content ul li a:hover::after {
    width: 100%;
}

.home .gallery {
  display: flex;
  padding: 15px;
  width: 70%;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  flex-direction: column;
  background: #ffffff;
  text-align: center;
  margin: 15px auto 25px;
  overflow: hidden; /* Hide overflowing content */
  position: relative;
}

.home .gallery img {
  max-width: 70%;
  height: auto;
  border-radius: 10px;
  object-fit: cover; /* Ensure the image covers the entire container */
  opacity: 0;
  transition: opacity 0.5s ease-in-out; /* Add smooth transition effect */
}

.home .gallery.active img {
  opacity: 1;
}

.home .gallery-text {
  margin-top: 15px;
  font-family: "Arial", sans-serif;
  font-size: 18px;
  opacity: 0.8;
  transition: opacity 0.5s ease-in-out;
}

.home .gallery.active .gallery-text {
  opacity: 1;
}

/*responsive designs start here*/
@media (max-width: 520px){
	.home .contents{
		padding: 20px 10px;
		margin: 20px 15px;
	}

	.home .contents .left_content{
		max-width: 20%;
	}

	.home .contents .mid_content{
		width: 52%;
	}

	.home .contents .mid_content h1{
		font-size: 18px;
		margin-bottom: 10px;
	}

	.home .contents .mid_content p{
		font-size: 15px;
	}

	.home .contents .mid_content p span{
		font-size: 15px;
	}

	.home .contents .mid_content .about_us_para{
		margin-top: 15px;
	}

	.home .contents .mid_content .button{
		margin: 35px 0;
	}

	.home .contents .mid_content .button a {
	  padding: 10px;
	  font-size: 15px;
	}

	.home .contents .right_content{
		max-width: 20%;
	}

	.home .contents .content ul li{
		font-size: 12px;
		padding: 5px;
		margin-bottom: 10px;
	}

	.home .gallery {
	  display: flex;
	  padding: 15px;
	  width: 75%;
	  margin: 15px auto 20px;
	}

	.home .gallery img {
	  max-width: 75%;
	}
	
	.home .gallery-text {
	  font-size: 13px;
	}
}
/*home css ends here*/

/*igcse*/
.igcse{
	background: linear-gradient(68.6deg, rgb(252, 165, 241) 1.8%, rgb(181, 255, 255) 100.5%);
}
.igcse .course_box{
    width: 100%;
    max-width: 700px;
    margin: 15px auto;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    transition: all 0.3s ease;
    margin-bottom: 20px;
}

.igcse .course_box h1 {
    font-size: 24px;
    color: #333;
}

.igcse .course_box h3 {
    font-size: 18px;
    color: #555;
    margin-top: 10px;
}

.igcse .course_box h5 {
	font-size: 15px;
	margin-top: 10px;
}

.igcse .course_box table {
    width: 100%;
    margin-top: 15px;
}

.igcse .course_box th, .course_box td {
    padding: 10px;
    border-bottom: 1px solid #ccc;
}

.igcse .course_box .pay_button{
	margin: 30px 0;
}

.igcse .course_box .pay_button a{
	padding: 15px;
	color: #000000;
	background: #f3c2f4;
	border-radius: 15px;
	border: 2px solid #000000;
	transition: 0.5s;
}

.igcse .course_box .pay_button a:hover{
	color: #000000;
	background: #b3f9fe;
}

.igcse .course_box:hover {
    transform: scale(1.02);
}

/* Responsive Design */
@media (max-width: 768px) {
    .igcse .course_box {
        max-width: 90%;
    }
}

@media (max-width: 480px) {
    .igcse .course_box {
        padding: 15px;
		margin: 14px auto;
    }
	
	.igcse .course_box:hover {
		transform: scale(1.01);
	}

    .igcse .course_box h1 {
        font-size: 20px;
    }

    .igcse .course_box h3 {
        font-size: 16px;
    }
}
/*igcse ends here*/

/*ielts*/
.ielts{
	background: linear-gradient(68.6deg, rgb(252, 165, 241) 1.8%, rgb(181, 255, 255) 100.5%);
}
.ielts .container {
    max-width: 100%;
    max-width: 1000px;
    margin: 40px auto;
    padding: 50px;
    background-color: #f2ebf1;
    box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.1);
    border-radius: 10px;
    text-align: center;
}

.ielts .container h1 {
    font-size: 36px;
    margin-bottom: 20px;
    color: #333;
}

.ielts .container h3 {
    font-size: 20px;
    margin-bottom: 30px;
    color: #555;
}

.ielts .container .courses ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.ielts .container .courses ul li {
    margin: 10px;
}

.ielts .container .courses ul li a {
    text-decoration: none;
    font-size: 18px;
    color: #333;
    position: relative;
    transition: color 0.3s ease;
}

.ielts .container .courses ul li a:hover {
    color: #7fb5b5;
}

.ielts .container .course-details {
    display: none;
    margin-top: 30px;
	margin-bottom: 30px;
    padding: 30px;
    background: #fff;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    text-align: center;
}

.ielts .container .course-details h2{
	margin-bottom: 10px;
}

.ielts .container .btn{
	margin-top: 30px;
}

.ielts .container .btn a {
    text-decoration: none;
    font-size: 18px;
    padding: 12px 30px;
    color: #000;
    background: linear-gradient(to right, #b5ffff, #fca5f0);
    border-radius: 30px;
	border: 2px solid #333;
    transition: background 0.5s ease;
}

.ielts .container .btn a:hover {
    background: linear-gradient(to right, #fca5f0, #b5ffff);
}

.ielts .container .courses ul li a::before {
    content: "";
    position: absolute;
    width: 0;
    height: 2px;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    background-color: #7fb5b5;
    visibility: hidden;
    transition: all 0.3s ease;
}

.ielts .container .courses ul li a:hover::before {
    visibility: visible;
    width: 100%;
}

@media (max-width: 768px) {
    .ielts .container {
        padding: 30px;
    }

    .ielts .container h1 {
        font-size: 26px;
    }

    .ielts .container h3 {
        font-size: 16px;
    }
    
    .ielts .container .courses ul li a {
        font-size: 16px;
    }
	
	.ielts .container .course-details p {
		font-size: 14px;
	}
}
/*ielts ends here*/

/*payment*/
.payment{
	background: #f2ebf1;
}
.payment .pay_details_body {
    max-width: 700px;
    margin: 20px auto;
    padding: 20px;
    background-color: #f9f9f9;
	box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
	cursor: grab;
	transition: all 0.5s ease;
}

.payment .pay_details_body:hover {
	box-shadow: none;
	transform: scale(0.985);
}

.payment .pay_details_body h1 {
    text-align: center;
	margin: 10px 0;
}

.payment .pay_details_body .img_section img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
}

.payment .pay_details_body .account_details{
	margin-bottom: 40px;
}

.payment .pay_details_body .account_details p {
    margin: 10px 0;
	text-align: center;
}

.payment .pay_details_body #paymentForm{
	display: flex;
	flex-direction: column;
	align-items: center;
}

.payment .pay_details_body #paymentForm label {
    display: block;
    margin: 10px 0 5px;
}

.payment .pay_details_body #paymentForm input[type="text"],
.payment .pay_details_body #paymentForm input[type="email"],
.payment .pay_details_body #paymentForm input[type="tel"],
.payment .pay_details_body #paymentForm select,
.payment .pay_details_body #paymentForm input[type="number"] {
    width: 80%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

.payment .pay_details_body #paymentForm select{
	font-size: 12px;
}

.payment .pay_details_body #paymentForm button {
    background-color: #fca5f0;
    color: #000;
    border: 2px solid #000;
    padding: 15px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 8px;
	transition: 0.5s;
}

.payment .pay_details_body #paymentForm button:hover {
    background-color: #b5ffff;
}

.payment .pay_details_body #paymentForm button:disabled{
	background-color: green;
	color: #fff;
	cursor: not-allowed;
}

@media (max-width: 768px) {
    .payment .pay_details_body {
        padding: 10px;
    }
    
    .payment .pay_details_body #paymentForm button {
        font-size: 14px;
    }
}
/*payment ends here*/

/*about us*/
.about_us{
	background: linear-gradient(68.6deg, rgb(252, 165, 241) 1.8%, rgb(181, 255, 255) 100.5%);
}

.about_us .body{
	margin: 0 40px;
}

.about_us .body .story{
    max-width: 100%;
    max-width: 1100px;
    margin: 40px auto;
    padding: 50px;
    background: linear-gradient(68.6deg, rgb(181, 255, 255) 10.8%, rgb(252, 165, 241) 100.5%);
    box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.1);
    border-radius: 10px;
    text-align: center;
	transform: scale(1);
	transition: transform 0.5s ease;
}

.about_us .body .story:hover{
	transform: scale(1.02);
}

.about_us .body .story h1{
	margin-bottom: 20px;
}

.about_us .body .team{
	display: flex;
	align-items: center;
	max-width: 1000px;
	padding: 50px 10px;
	border-radius: 20px;
	background: #bee0e6;
	margin: 40px auto;
}

.about_us .body .team .img-container{
	justify-content: left;
	width: 50%;
	margin-left: 50px;
}

.about_us .body .team .img-container img{
	width: 50%;
}

.about_us .body .team .content{
	justify-content: right;
	max-width: 70%;
}

.about_us .body .team .content h1{
	margin-bottom: 15px;
}

.about_us .body .team .content .info-button{
	margin-top: 15px;
	padding: 5px;
	border-radius: 10px;
	transition: 0.5s;
}

.about_us .body .team .content .info-button:hover{
	background: rgb(252, 165, 241);
}

.about_us .overlay1 {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  display: none;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.about_us .overlay1.show {
  display: flex;
}

.about_us .overlay-content {
  background: #fff;
  padding: 20px;
  border-radius: 5px;
  max-width: 600px;
  width: 100%;
  text-align: center;
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.1);
}

.about_us .overlay-content h1 {
  font-size: 24px;
  margin-bottom: 10px;
}

.about_us .overlay-content h2 {
  font-size: 20px;
  margin-bottom: 10px;
}

.about_us .overlay-content p {
  font-size: 16px;
  margin-bottom: 15px;
}

.about_us .overlay-content ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.about_us .overlay-content li {
  font-size: 14px;
  margin-bottom: 5px;
}

.about_us .close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  background: red;
  color: #fff;
  border: none;
  padding: 5px;
  font-size: 18px;
  border-radius: 5px;
}

@media (max-width: 700px) {
	.about_us .body .team{
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		text-align: center;
	}

	.about_us .body .team .img-container{
		justify-content: center;
		width: 50%;
		margin: 5px auto;
	}

	.about_us .body .team .img-container img{
		width: 50%;
	}

	.about_us .body .team .content{
		justify-content: center;
	}

	.about_us .overlay-content {
	  max-width: 85%;
	}
}

@media (max-width: 360px){
	.about_us .story h1{
		font-size: 22px;
	}
	.about_us .body .team .content h1{
		font-size: 22px;
	}
}